QuestionForm(xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd")
  Overview
    Title Test A Mobile Application
    Text Go to the mobile application's URL and complete the task

  // Comments
  Question
    QuestionIdentifier comments
    DisplayName Comments
    IsRequired true
    QuestionContent
      Text The URL is #{taskURL} Please provide any comment below to test if you're human.
    AnswerSpecification
      FreeTextAnswer